{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('style/login.css') }}">
{% endblock %}
{% block main %}
    <div class="container">
        <img class="logo" src="{{ asset('image/logo-img.svg') }}">
        <div class="contentWrapper">
            <h1 class="heading">Connexion</h1>
            <form class="loginForm" method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endif %}
                <div class="inputWrapper">
                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="philippe.etchebest@gmail.com" required autofocus>
                </div>
                <div class="inputWrapper">
                    <label for="inputPassword">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                </div>
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
                <div class="loginForm__buttonsWrapper">
                    <a class="link" href="{{ path('app_register') }}">S'inscrire</a>
                    <button class="button button--primary" type="submit">
                        Se connecter
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
