{% extends 'base.html.twig' %}

{% block title %}Difficulté de la recette {% endblock %}

{% block main %}
    <div class="container d-flex justify-content-between">
        <div class="row"></div>
        {{ include('partials/_adminnav.html.twig') }}
        <main class="col-9 border border-light bg-white p-2">
            <h1>Difficulté de la recette </h1>

            <table class="table">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ recipe_difficulty.id }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ recipe_difficulty.name }}</td>
                </tr>
                </tbody>
            </table>

            <a class="btn btn-secondary" href="{{ path('app_recipe_difficulty_index') }}">retour à la liste</a>

            <a class="btn btn-success" href="{{ path('app_recipe_difficulty_edit', {'id': recipe_difficulty.id}) }}">Modifier</a>


        </main>
    </div>


{% endblock %}
